<main class="page registration-page">
        <section class="clean-block clean-form dark">
                <div class="container">
                        <div class="block-heading">
                                <h2 class="text-info">Registration</h2>
                                
                                <div id='errorMsg'></div>
                        </div>
                        <form class="create-form">
                                <div class="form-group"><label for="First Name">First Name</label><input type="text"
                                                class="form-control item" id="fname" /></div>
                                <div class="form-group"><label for="Last Name">Last Name</label><input type="text"
                                                class="form-control item" id="lname" /></div>
                                <div class="form-group"><label for="Phone Number">Phone Number</label><input
                                                type="number" class="form-control item" id="phone" /></div>
                                <div class="form-group"><label for="email">Email</label><input type="email"
                                                class="form-control item" id="email" />
                                        <div class="form-group"><label for="Zip Code">Zip Code</label><input
                                                        type="number" class="form-control item" id="zip" /></div>
                                        <div class="form-group"><label for="Country">country</label><input type="text"
                                                        class="form-control item" id="country" /></div>
                                        <div class="form-group"><label for="City">City</label><input type="text"
                                                        class="form-control item" id="city" /></div>
                                        <div class="form-group"><label for="password">Password</label><input
                                                        type="password" class="form-control item" id="password" /></div>
                                </div>
                                <button class="btn btn-primary btn-block" id="create-form" type="submit">Sign
                                        Up</button>
                        </form>
                </div>
        </section>
</main>
