.row,.col-md-4{
    margin-top:20px !important;
    margin-bottom: 20px !important;
}
.error {
display: none;
}
.addToCartHome{
    border: 1px solid navy;
    padding:10px 15px;
    color: navy;
    border-radius: 5px;
}
.addToCartHome:hover{
    background-color: navy;
    color:white;
    text-decoration: none;
}
.logo{
    font-weight: bolder;
}