<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">Webay</a><button data-toggle="collapse"
            data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link active" href="/cart">Cart</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                 <li role="presentation" class="nav-item"><a class="nav-link" href="/profile">Account</a></li>

            </ul>
        </div>
    </div>
</nav>